.div-one {
  background-color: #1cefff;
  height: 100vh;
}
.custom-card {
  width: 85%;
}

.custom-modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal-dialog {
  max-width: 600px;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.custom-modal-header {
  background-color: #007bff;
  color: #fff;
}

.custom-modal-title {
  font-size: 24px;
  font-weight: bold;
}

.custom-modal-close {
  color: #fff;
  background-color: #007bff;
  font-size: 24px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}

.custom-modal-body {
  padding: 20px;
}

.custom-modal-footer {
  text-align: right;
  padding: 10px 20px;
  background-color: #f4f4f4;
}

.custom-input {
  height: 60px; 
}

.custom-border {
  border: 2px solid #fff; 
  border-radius: 15px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  padding: 20px;
}

.div-form {
  border: 2px solid #fff; 
  border-radius: 15px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  padding: 20px;
}

/* Ajoutez ceci à votre fichier CSS ou au composant CSS-in-JS */
.modal.fade .modal-dialog {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.modal.fade.show .modal-dialog {
  opacity: 1;
}

/* Styles pour la liste d'événements */
.event-list {
  list-style: none;
  padding: 0;
}

/* Styles pour chaque élément d'événement */
.event-item {
  margin-bottom: 20px; /* Ajoute de l'espace entre chaque événement */
  padding: 20px;
  background-color: #f5f5f5; /* Couleur de fond de l'événement */
  border: 1px solid #ddd; /* Bordure de l'événement */
  border-radius: 8px; /* Coins arrondis */
}

/* Styles pour les titres des événements */
.event-title {
  font-size: 24px; /* Ajuste la taille des titres */
  font-weight: bold; /* Met en gras les titres */
}

/* Styles pour les icônes d'événement */
.event-icon {
  color: #007bff; /* Couleur de remplissage des icônes */
  margin-right: 10px; /* Ajoute un espace entre l'icône et le texte */
}

/* Autres styles personnalisés */
h1 {
  margin-top: 50px; /* Ajoute de l'espace en haut du titre "Les Événements à Venir" */
}
